
<h2>Listado de categorias:</h2>
<table class="table table-striped">
  <thead class=table-dark>
   <tr>
     <th>Categoria</th>
     <th>Descripcion</th>
     <th>Operaciones</th>

   </tr>
  </thead>
 <tbody >
   <tr *ngFor="let categoria of categorias">
     <td>{{categoria.nombre}}</td>
     <td>{{categoria.descripcion}}</td>

     <td>
        <button (click)= "actualizarCategoria(categoria.id)" class="btn btn-info">Editar</button>
       <button (click)= "eliminarCategoria(categoria.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
     </td>
   </tr>
 </tbody>

 </table>
