/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    background:url(/assets/images/fondo5.jpg);
    background-size:cover;
}

